@media screen and(max-width:1024px) {
	html {
		font-size: 14px;
	}
	.portofolio {
		main {
			#service {
				.serv {
					padding-right: 0%;
					.serv-img {
						width: 20rem;
					}
				}
			}
		}
	}
}
@media screen and(max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media screen and(max-width:500px) {
	html {
		font-size: 8px;
	}
	.portofolio {
		main {
			#heading {
				.headline {
					top: 40%;
				}
				p {
					bottom: 40%;
					left: 0;
				}
			}
			#journey {
				.journey-img {
					right: 10%;
					top: 30%;
					height: 10rem;
				}
			}
			#service {
				.serv {
					padding-right: 10%;
					.serv-details {
						h2 {
							font-size: 2rem;
						}
						p {
							font-size: 1.2rem;
							margin-top: 1rem;
						}
					}
					.serv-img {
						width: 15rem;
					}
				}
			}
		}
		.pagination {
			top: 80%;
			right: 15%;
		}
	}
}
@media screen and(max-width:400px) {
	html {
		font-size: 6px;
	}
}
