.portofolio {
	width: 100%;
	max-width: 1980px;
	margin: auto;
	main {
		// filter: grayscale(1) blur(30px);
		width: 100%;
		padding: 0 5%;
		position: relative;
		left: 0;
		#heading {
			height: 100vh;
			width: 100%;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			.headline {
				position: absolute;
				top: 45%;
				left: 50%;
				transform: translate(-50%, -55%);
				width: 100%;
				h1 {
					font-weight: 500;
				}
				a {
					line-height: 3rem;
					font-size: 1.2rem;
					position: relative;
					&:after {
						content: "";
						position: absolute;
						height: 0.08rem;
						width: 0rem;
						background: $ocean;
						top: 70%;
						transform: translateY(-50%);
						left: 110%;
						transition: width 0.3s ease-in-out;
					}
					&:hover {
						&:after {
							width: 5rem;
						}
					}
				}
			}
			.scroll {
				position: absolute;
				bottom: 10%;
				left: 0rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 15rem;
				height: 15vh;
				justify-content: space-between;
				.line {
					width: 0.17rem;
					height: 10vh;
					background: $secondary;
					border-radius: 1rem;
					position: relative;
					overflow: hidden;
					&::after {
						content: "";
						height: 100%;
						width: 100%;
						position: absolute;
						background: $ocean;
						top: -100%;
						animation: scroll 3s ease-in-out infinite;
					}
				}
				p {
					width: 100%;
					position: relative;
					text-align: center;
					right: 0;
					bottom: 0;
					animation: scroll-p 1.5s ease infinite alternate;
				}
			}
			p {
				position: absolute;
				bottom: 15%;
				right: 10%;
				line-height: 2.5rem;
				a {
					font-family: montL;
				}
			}
		}
		#decoration {
			width: 100%;
			margin-top: 10rem;
			position: relative;
			.sided {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: center;
				.hero {
					width: 25%;
					height: 30%;
					svg {
						width: 30%;
						height: 90%;
						position: absolute;
						z-index: -1;
						filter: drop-shadow(0px 0px 0.3rem $sakura);
					}
					img {
						width: 100%;
					}
				}
				.right {
					.big-text {
						font-size: 3rem;
						font-weight: 100;
						position: relative;
						order: 2;
						padding-left: 3rem;
						animation: glow-ocean 0.3s ease-in-out 3s;
					}
					svg {
						width: 15rem;
						height: 15rem;
						filter: drop-shadow(0px 0px 0.3rem $ocean);
						order: 1;
					}
				}
			}
			.bottom {
				display: flex;
				align-items: center;
				justify-content: space-around;
				position: absolute;
				width: 80%;
				left: 50%;
				transform: translateX(-40%);
				svg {
					width: 15rem;
					height: 15rem;
					filter: drop-shadow(0px 0px 0.3rem $ocean);
				}
				p {
					flex: 1;
					padding-top: 5%;
					padding-left: 10%;
					font-size: 1.2rem;
				}
			}
		}
		#journey {
			margin-top: 40rem;
			margin-bottom: 15rem;
			height: 30rem;
			display: block;
			position: relative;
			display: flex;
			justify-content: space-between;
			.journey-details {
				position: relative;
				h2 {
					font-size: 2rem;
				}
				p {
					padding: 0.6rem 0;
				}
				a {
					font-size: 1.3rem;
					position: relative;
					&:after {
						content: "";
						position: absolute;
						height: 0.08rem;
						width: 0rem;
						background: $ocean;
						top: 70%;
						transform: translateY(-50%);
						left: 110%;
						transition: width 0.3s ease-in-out;
					}
					&:hover {
						&:after {
							width: 5rem;
						}
					}
				}
			}
			.journey-img {
				top: 20%;
				right: 13%;
				width: 35%;
				height: 15rem;
				position: relative;
				z-index: 1;
				svg {
					position: absolute;
					z-index: -1;
					width: 100%;
					height: 100%;
					filter: drop-shadow(0px 0px 0.3rem $ocean);
					line {
						stroke-width: 0.2rem;
					}
				}

				img {
					position: absolute;
					width: 100%;
					box-shadow: $shadow;
				}
				.corner-up {
					z-index: 1;
					bottom: 40%;
					left: 40%;
				}
				.corner-down {
					top: 40%;
					right: 40%;
				}
			}
			.site {
				bottom: 10rem;
				position: absolute;
				left: 10rem;
				.visit {
					font-size: 1.2rem;
					position: relative;
					&:after {
						content: "";
						position: absolute;
						height: 0.08rem;
						width: 0rem;
						background: $ocean;
						top: 70%;
						transform: translateY(-50%);
						left: 110%;
						transition: width 0.3s ease-in-out;
					}
					&:hover {
						&:after {
							width: 10rem;
						}
					}
				}
			}
		}
		#service {
			.service-headline {
				font-size: 4.5rem;
			}
			.serv {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				position: relative;
				margin-top: 10rem;
				height: 20rem;
				justify-content: center;
				padding-right: 12%;
				.serv-details {
					flex: 1;
					font-weight: 100;
					h2 {
						font-size: 3rem;
					}
					p {
						font-size: 1.5rem;
						margin-top: 1rem;
					}
				}
				.serv-img {
					grid-column: 2/3;
					position: relative;
					width: 30rem;
					height: 100%;
					justify-self: end;
					margin-top: 3rem;
					display: flex;
					justify-content: center;
					align-items: center;
					svg {
						position: absolute;
						width: 100%;
						height: 100%;
						&.top-right {
							bottom: 5rem;
							left: 3rem;
						}
						&.bottom-left {
							top: 5rem;
							right: 3rem;
						}
						&.bottom-right {
							top: 5rem;
							left: 3rem;
						}
						&.top-left {
							bottom: 5rem;
							right: 3rem;
						}
					}
					img {
						position: absolute;
						width: 100%;
						filter: drop-shadow($shadow);
					}
				}
				.phone {
					.phones {
						position: absolute;
						height: 75%;
						width: 75%;
						img {
							position: absolute;
							height: 100%;
							&:nth-child(1) {
								top: 3rem !important;
								right: 4rem !important;
							}
							&:nth-child(2) {
								bottom: 3rem !important;
								left: 4rem !important;
							}
						}
					}
				}
				&:nth-child(2) {
					margin: 15rem 0;
				}
			}
			.ui-design {
				margin-top: 20rem;
			}
		}
	}
	.pagination {
		position: absolute;
		right: 5%;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		height: 15vh;
		justify-content: space-between;
		flex-direction: column;
		svg {
			width: 1.2rem;
			height: 1.2rem;
			line {
				stroke-width: 1px;
			}
		}
	}
}
// animation
@keyframes scroll {
	from {
		top: -100%;
	}
	to {
		top: 100%;
	}
}
@keyframes scroll-p {
	from {
		// color: $secondary;
		text-shadow: none;
	}
	to {
		text-shadow: 0px 0px 24px $ocean, 0px 0px 24px $ocean;
		// color: $ocean;
	}
}
